@using OgrenciNot_Mvc.Models.EntityFramework
@model List<TBLNOTLAR>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>NOT ID</th>
        <th> ADI</th>
        <th> ÖĞRENCİ</th>
        <th> DERS</th>
        <th> SINAV1</th>
        <th> SINAV2</th>
        <th> SINAV3</th>
        

        <th> ORTALAMA</th>
        <th> GÜNCELLE</th>





    </tr>
    <tbody>
        @foreach (var not in Model)
        {
        <tr>
            <td>@not.NOTID</td>
            <td>@not.OGRID</td>
            <td>@not.DERSID</td>
            <td>@not.SINAV1</td>
            <td>@not.SINAV2</td>
            <td>@not.SINAV3</td>
            <td>@not.PROJE</td>

            <td>@not.ORTALAMA</td>
            <td>@not.DURUM</td>
            <td>

                <a href="/Sinavlar/NotGetir/@not.NOTID" class="btn btn-warning">Güncelle</a>
            </td>
        </tr>
        }
    </tbody>
</table>

<a href="/Sinavlar/YeniSinav" class="btn btn-primary">Yeni Sınav Girişi</a>